<%= form_for @listing, :html => { :multipart => true } do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <h4>job listing will remain on this site for 45 days. After 45 days your job listing will expire and be removed.</h4>
  
  <br/>
<legend>1. Enter your job information</legend>
  <div class="form-group">
    <%= f.label "job title" %>
    <%= f.text_field :job_title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :job_description %>
    <%= f.text_area :job_description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :job_location %>
    <%= f.text_field :job_location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :job_applyto %>
    <%= f.text_field :job_applyto, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company_name %>
    <%= f.text_field :company_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company_website %>
    <%= f.text_field :company_website, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.file_field :image, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :company_about %>
    <%= f.text_area :company_about, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company_email %>
    <%= f.text_field :company_email , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

