<div class="row">
    <div class="center">
        <h1>Find a Great Job in the Web Analytics Industry</h1>
          <h2>We only show open analytics jobs to make your search easy</h2>
          <h3>Follow us on Twitter <span class="emphasis">@WorkinAnalytics</span> </h3>
          <br>
           <%= link_to "Post a job Today: $169 for 45 days", new_listing_path , class: "btn btn-danger btn-lg", data: { no_turbolink: true } %>
    </div>
</div>
<br>

<table class="table table-hover">
   <% @listings.each do |listing| %>
      <tr>
        <th><h3><%= listing.company_name %></h3></th>
        <th><h3><%= link_to listing.job_title, listing %></h3></th>
        <th><h3><%= listing.created_at.strftime("%B %-d, %Y") %></h3></th>
        <td><%= link_to 'Show', listing, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
</table>

