<h1>Listing listings</h1>

<table>
  <thead>
    <tr>
      <th>Job title</th>
      <th>Job description</th>
      <th>Job location</th>
      <th>Job applyto</th>
      <th>Company name</th>
      <th>Company website</th>
      <th>Company about</th>
      <th>Company email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.job_title %></td>
        <td><%= listing.job_description %></td>
        <td><%= listing.job_location %></td>
        <td><%= listing.job_applyto %></td>
        <td><%= listing.company_name %></td>
        <td><%= listing.company_website %></td>
        <td><%= listing.company_about %></td>
        <td><%= listing.company_email %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
